Input:          enter-label-mode          all                  t
Input:          search-previous           all                  p
Input:          search-next               all                  n
Input:          enter-query-mode          all                  \
Input:          leave-query-mode          write_query          ENTER
Input:          leave-query-mode          write_query          ?
Input:          delete-query-char         write_query          BACKSPACE
Input:          delete-query-char         write_query          !
Input:          add-to-query              write_query          0
Input:          add-to-query              write_query          1
Input:          add-to-query              write_query          2
Input:          add-to-query              write_query          3
Input:          add-to-query              write_query          4
Input:          add-to-query              write_query          5
Input:          add-to-query              write_query          6
Input:          add-to-query              write_query          7
Input:          add-to-query              write_query          8
Input:          add-to-query              write_query          9
Input:          add-to-query              write_query          a
Input:          add-to-query              write_query          b
Input:          add-to-query              write_query          c
Input:          add-to-query              write_query          d
Input:          add-to-query              write_query          e
Input:          add-to-query              write_query          f
Input:          add-to-query              write_query          g
Input:          add-to-query              write_query          h
Input:          add-to-query              write_query          i
Input:          add-to-query              write_query          j
Input:          add-to-query              write_query          k
Input:          add-to-query              write_query          l
Input:          add-to-query              write_query          m
Input:          add-to-query              write_query          n
Input:          add-to-query              write_query          o
Input:          add-to-query              write_query          p
Input:          add-to-query              write_query          q
Input:          add-to-query              write_query          r
Input:          add-to-query              write_query          s
Input:          add-to-query              write_query          t
Input:          add-to-query              write_query          u
Input:          add-to-query              write_query          v
Input:          add-to-query              write_query          w
Input:          add-to-query              write_query          x
Input:          add-to-query              write_query          y
Input:          add-to-query              write_query          z
Input:          add-to-query              write_query          A
Input:          add-to-query              write_query          B
Input:          add-to-query              write_query          C
Input:          add-to-query              write_query          D
Input:          add-to-query              write_query          E
Input:          add-to-query              write_query          F
Input:          add-to-query              write_query          G
Input:          add-to-query              write_query          H
Input:          add-to-query              write_query          I
Input:          add-to-query              write_query          J
Input:          add-to-query              write_query          K
Input:          add-to-query              write_query          L
Input:          add-to-query              write_query          M
Input:          add-to-query              write_query          N
Input:          add-to-query              write_query          O
Input:          add-to-query              write_query          P
Input:          add-to-query              write_query          Q
Input:          add-to-query              write_query          R
Input:          add-to-query              write_query          S
Input:          add-to-query              write_query          T
Input:          add-to-query              write_query          U
Input:          add-to-query              write_query          V
Input:          add-to-query              write_query          W
Input:          add-to-query              write_query          X
Input:          add-to-query              write_query          Y
Input:          add-to-query              write_query          Z
Input:          add-to-query              write_query          "
Input:          add-to-query              write_query          #
Input:          add-to-query              write_query          $
Input:          add-to-query              write_query          %
Input:          add-to-query              write_query          &
Input:          add-to-query              write_query          '
Input:          add-to-query              write_query          (
Input:          add-to-query              write_query          )
Input:          add-to-query              write_query          *
Input:          add-to-query              write_query          +
Input:          add-to-query              write_query          ,
Input:          add-to-query              write_query          -
Input:          add-to-query              write_query          .
Input:          add-to-query              write_query          /
Input:          add-to-query              write_query          :
Input:          add-to-query              write_query          ;
Input:          add-to-query              write_query          <
Input:          add-to-query              write_query          =
Input:          add-to-query              write_query          >
Input:          add-to-query              write_query          @
Input:          add-to-query              write_query          [
Input:          add-to-query              write_query          \
Input:          add-to-query              write_query          ]
Input:          add-to-query              write_query          ^
Input:          add-to-query              write_query          _
Input:          add-to-query              write_query          `
Input:          add-to-query              write_query          {
Input:          add-to-query              write_query          |
Input:          add-to-query              write_query          }
Input:          add-to-query              write_query          ~
Input:          add-to-query              write_query          SPACE
Input:          toggle-line-numbers       All                  #
Input:          move-up                   all                  UP
Input:          move-up                   all                  i
Input:          move-down                 all                  DOWN
Input:          move-down                 all                  o
Input:          move-left                 all                  LEFT
Input:          move-left                 all                  j
Input:          move-right                all                  RIGHT
Input:          move-right                all                  ;
Input:          page-up                   all                  PPAGE
Input:          page-up                   all                  {
Input:          page-down                 all                  NPAGE
Input:          page-down                 all                  }
Input:          extend-right              all                  SHIFT-RIGHT
Input:          contract-right            all                  SHIFT-LEFT
Input:          toggle-help               all                  h
Input:          next-file                 all                  ]
Input:          next-file                 no_file              ]
Input:          previous-file             all                  [
Input:          previous-file             no_file              [
Input:          quit                      all                  Q
Input:          save-and-quit             all                  q
Input:          save                      all                  s
Input:          remove-annotation         all                  u
Input:          update-num                all                  0
Input:          update-num                all                  1
Input:          update-num                all                  2
Input:          update-num                all                  3
Input:          update-num                all                  4
Input:          update-num                all                  5
Input:          update-num                all                  6
Input:          update-num                all                  7
Input:          update-num                all                  8
Input:          update-num                all                  9
Input:          toggle-progress           all                  >_p
Input:          toggle-legend             all                  >_l
Input:          toggle-current-mark       all                  >_m
Input:          add-to-label              write_label          f
Input:          add-to-label              write_label          g
Input:          add-to-label              write_label          l
Input:          add-to-label              write_label          o
Input:          add-to-label              write_label          p
Input:          add-to-label              write_label          v
Input:          add-to-label              write_label          SPACE
Input:          edit-annotation           category             SPACE_f
Input:          edit-annotation           category             SPACE_g
Input:          edit-annotation           category             SPACE_l
Input:          edit-annotation           category             SPACE_o
Input:          edit-annotation           category             SPACE_p
Input:          edit-annotation           category             SPACE_v
Label:          FAC                       SPACE_f green
Label:          VEH                       SPACE_v green
Label:          LOC                       SPACE_l blue
Label:          ORG                       SPACE_o blue
Label:          PER                       SPACE_p magenta
Label:          GPE                       SPACE_g yellow
Special_Key:    SHIFT-UP                  337
Special_Key:    SHIFT-DOWN                336
Special_Key:    ENTER                     10
Special_Key:    BACKSPACE                 127
