Input:          enter-label-mode          all                  t
Input:          move-up                   all                  UP
Input:          move-up                   all                  i
Input:          move-down                 all                  DOWN
Input:          move-down                 all                  o
Input:          move-left                 all                  LEFT
Input:          move-left                 all                  j
Input:          move-right                all                  RIGHT
Input:          move-right                all                  ;
Input:          page-up                   all                  PPAGE
Input:          page-up                   all                  {
Input:          page-down                 all                  NPAGE
Input:          page-down                 all                  }
Input:          extend-right              all                  SHIFT-RIGHT
Input:          contract-right            all                  SHIFT-LEFT
Input:          toggle-help               all                  h
Input:          next-file                 all                  ]
Input:          next-file                 no_file              ]
Input:          previous-file             all                  [
Input:          previous-file             no_file              [
Input:          quit                      all                  Q
Input:          save-and-quit             all                  q
Input:          save                      all                  s
Input:          remove-annotation         all                  u
Input:          update-num                all                  0
Input:          update-num                all                  1
Input:          update-num                all                  2
Input:          update-num                all                  3
Input:          update-num                all                  4
Input:          update-num                all                  5
Input:          update-num                all                  6
Input:          update-num                all                  7
Input:          update-num                all                  8
Input:          update-num                all                  9
Input:          toggle-progress           all                  >_p
Input:          toggle-legend             all                  >_l
Input:          toggle-current-mark       all                  >_m
Input:          add-to-label              write_label          f
Input:          add-to-label              write_label          g
Input:          add-to-label              write_label          l
Input:          add-to-label              write_label          o
Input:          add-to-label              write_label          p
Input:          add-to-label              write_label          v
Input:          add-to-label              write_label          SPACE
Input:          edit-annotation           category             SPACE_f
Input:          edit-annotation           category             SPACE_g
Input:          edit-annotation           category             SPACE_l
Input:          edit-annotation           category             SPACE_o
Input:          edit-annotation           category             SPACE_p
Input:          edit-annotation           category             SPACE_v
Label:          FAC                       SPACE_f green
Label:          VEH                       SPACE_v green
Label:          LOC                       SPACE_l blue
Label:          ORG                       SPACE_o blue
Label:          PER                       SPACE_p magenta
Label:          GPE                       SPACE_g yellow
Special_Key:    SHIFT-UP                  337
Special_Key:    SHIFT-DOWN                336
Special_Key:    ENTER                     10
Special_Key:    BACKSPACE                 127
